body {
  background-color: #96C0CE;
  margin:0;
  padding:0;
}
.head{
  background-color: #C25B56;
  height: 140px;
  margin-top:-20px;
  padding-top:20px;
}
.data{
  display: block;
  margin-left: 20px;
  margin-right: auto;
  text-align: left;
  height: 400px;
}

a {
  display: inline;
  font-size: 16px;
  font-family: "helvetica" sans-serif;
  font-weight: lighter;
  color: #525564;
  text-align: center;
}

p{
  display: inline-block;
}
h1{
  font-size: 60px;
  font-family: "helvetica" sans-serif;
  font-weight: lighter;
  color: #beb9b5;
}

.button{
  display: inline-block;
  background-color: #c25b56;
  height: 40px;
  padding: 10px;
  margin: 15px;
  text-align: center;
}

.subject{
  font-size: 30px;
}

/*525564	74828F	96C0CE	BEB9B5	C25B56	FEF6EB*/
